body {
	overflow: auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    text-transform: uppercase;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}



.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo{
    width:100px;
}





#footer {
	 margin-top: 100px;
}