body {
	overflow: auto;
    color: #505050;
    font: 16px "Roboto", sans-serif;
    margin: 0;
    background: #edf6ff;
}


article {
    margin-bottom: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
}


#footer {
    margin-top: 100px;
}

header {
    background: #00bcd4;
    margin-bottom: 5px;
    padding: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

hr {
    color:#7d97ad;
 }

h1,
h4 {
    margin: auto;
}

h3 {
    margin: auto 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo{
    width:100px;
    margin: auto auto auto 5em;
}


.myself {
    margin-right: auto 10px;
}


ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #505050;
    color: white;
}

ul.topnav li a.active {
    background-color: #607D8B;
    color: white;
    }
/*
@media screen and (max-width: 1200px) {
    .t1, .t2, .t3 {
        width: 33.33%
    }

    .t4, .t5, .t6 {
        width: 33.33%
    }

}
*/