body {
	overflow: auto;
    color: #505050;
    font: 16px "Roboto", sans-serif;
    margin: 0;
    background: #edf6ff;
}


article {
    margin-bottom: auto;
}
#footer {
    margin-top: 100px;
}

header {
    background: #00bcd4;
    margin-bottom: 5px;
    padding: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

hr {
    color:#7d97ad;
 }

h1,
h2,
h3,
h4 {
    margin: 0;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo{
    width:100px;
}



ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #505050;
    color: white;
}

ul.topnav li a.active {
    background-color: #607D8B;
    color: white;
    }

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}